.home {
  min-height: 100vh;
  background: white url("/cats.png") center bottom / 90% auto no-repeat;
  position: relative;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
}

.logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

.content {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analyzeButton {
  width: 160px;
  height: 58px;
  border: none;
  border-radius: 10px;
  background: #e5e5e5;
  font-size: 20px;
  color: #111;
  cursor: pointer;
}

.analyzeButton:hover {
  background: #dcdcdc;
}

/* RECENT */

.recent {
  margin-top: 18px;
  width: 150px;
  font-size: 13px;
  line-height: 1.6;
}

.recentTitle {
  text-align: center;
  margin-bottom: 5px;
}

.recentRow {
  display: flex;
  justify-content: space-between;
}

/* INPUT */

.inputBox {
  width: 260px;
  height: 180px;
  background: #e5e5e5;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.inputOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.inputOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 60px;

  font-size: 13px;
  color: #111;

  cursor: pointer;

  border: none;
  background: transparent;
  padding: 0;
}

.icon {
  font-size: 40px;
  color: #777;

  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 5px;
}

.againButton {
  margin-top: 75px;
  transform: translateY(-30px);

  border: none;
  background: transparent;
  font-size: 20px;
  color: #111;
  cursor: pointer;
}

.againButton:hover {
  text-decoration: underline;
}

/* RESULT */

.resultBox {
  width: 230px;
  height: 310px;
  background: #e5e5e5;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultSmall {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 14px;
}

.resultMood {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 400;
}

.confidence {
  margin-top: 8px;
  font-size: 19px;
}

.againButton {
  margin-top: 75px;
  border: none;
  background: transparent;
  font-size: 13px;
  color: #111;
  cursor: pointer;
}

.againButton:hover {
  text-decoration: underline;
}